node-red-flow.json
[{"id":"85b5ea04.81b578","type":"tab","label":"room 1 control","disabled":true,"info":""},{"id":"9328b1d0.6075a","type":"mqtt in","z":"85b5ea04.81b578","name":"","topic":"room1","qos":"2","datatype":"auto","broker":"ed64561f.c95518","x":110,"y":80,"wires":[["24640e00.222f72"]]},{"id":"24640e00.222f72","type":"debug","z":"85b5ea04.81b578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"d84fd01a.54677","type":"mqtt out","z":"85b5ea04.81b578","name":"room1 board built in lamp","topic":"room1/BuiltInLamp","qos":"2","retain":"false","broker":"ed64561f.c95518","x":430,"y":180,"wires":[]},{"id":"4f54d3b2.d4666c","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":160,"wires":[["d84fd01a.54677"]]},{"id":"ac27fb0f.6eba58","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":240,"wires":[["d84fd01a.54677"]]},{"id":"9c4ca335.568e3","type":"comment","z":"85b5ea04.81b578","name":"on/off built in led For debug perpuses.","info":"","x":730,"y":180,"wires":[]},{"id":"9ae33f74.27043","type":"mqtt out","z":"85b5ea04.81b578","name":"room1 relay control","topic":"room1/lamp","qos":"2","retain":"false","broker":"ed64561f.c95518","x":410,"y":400,"wires":[]},{"id":"222a0a7.aa648f6","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":380,"wires":[["9ae33f74.27043"]]},{"id":"e34af157.04bff","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":460,"wires":[["9ae33f74.27043"]]},{"id":"11896557.40f6cb","type":"comment","z":"85b5ea04.81b578","name":"on/off lamp connected to board's relay.","info":"","x":710,"y":400,"wires":[]},{"id":"28a2c82.ab78a38","type":"comment","z":"85b5ea04.81b578","name":"If board is connected, print a debug message","info":"","x":710,"y":80,"wires":[]},{"id":"ed64561f.c95518","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]