node-red-flow.json
[{"id":"85b5ea04.81b578","type":"tab","label":"room 1 control","disabled":false,"info":""},{"id":"9328b1d0.6075a","type":"mqtt in","z":"85b5ea04.81b578","name":"","topic":"room1","qos":"2","datatype":"auto","broker":"ed64561f.c95518","x":110,"y":80,"wires":[["24640e00.222f72"]]},{"id":"24640e00.222f72","type":"debug","z":"85b5ea04.81b578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"d84fd01a.54677","type":"mqtt out","z":"85b5ea04.81b578","name":"room1 board built in lamp","topic":"room1/BuiltInLamp","qos":"2","retain":"false","broker":"ed64561f.c95518","x":430,"y":180,"wires":[]},{"id":"4f54d3b2.d4666c","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":160,"wires":[["d84fd01a.54677"]]},{"id":"ac27fb0f.6eba58","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":240,"wires":[["d84fd01a.54677"]]},{"id":"9c4ca335.568e3","type":"comment","z":"85b5ea04.81b578","name":"on/off built in led For debug perpuses.","info":"","x":730,"y":180,"wires":[]},{"id":"9ae33f74.27043","type":"mqtt out","z":"85b5ea04.81b578","name":"room1 relay control","topic":"room1/lamp","qos":"2","retain":"false","broker":"ed64561f.c95518","x":470,"y":460,"wires":[]},{"id":"222a0a7.aa648f6","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":420,"wires":[["c1d384f3.243fd8"]]},{"id":"e34af157.04bff","type":"inject","z":"85b5ea04.81b578","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":480,"wires":[["c1d384f3.243fd8"]]},{"id":"11896557.40f6cb","type":"comment","z":"85b5ea04.81b578","name":"on/off lamp connected to board's relay.","info":"","x":710,"y":400,"wires":[]},{"id":"28a2c82.ab78a38","type":"comment","z":"85b5ea04.81b578","name":"If board is connected, print a debug message","info":"","x":710,"y":80,"wires":[]},{"id":"a458371b.3b50b8","type":"mqtt in","z":"85b5ea04.81b578","name":"","topic":"Temperature0","qos":"2","datatype":"auto","broker":"ed64561f.c95518","x":90,"y":620,"wires":[["d42ee2fd.b8d3"]]},{"id":"12109fd2.20476","type":"mqtt in","z":"85b5ea04.81b578","name":"","topic":"Humidity0","qos":"2","datatype":"auto","broker":"ed64561f.c95518","x":80,"y":680,"wires":[["ca6e06cc.052ef8"]]},{"id":"76abb9.71408448","type":"template","z":"85b5ea04.81b578","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO temp_hum(temperature, humidity,place) \nvalues ({{temperature}}, \n{{humidity}},\n\"room1\");","output":"str","x":680,"y":660,"wires":[["f9369f63.f8d38","9338e789.4102f8"]]},{"id":"f9369f63.f8d38","type":"debug","z":"85b5ea04.81b578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":660,"wires":[]},{"id":"ca6e06cc.052ef8","type":"change","z":"85b5ea04.81b578","name":"humidity move message","rules":[{"t":"move","p":"payload","pt":"msg","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["89eed65f.af4198"]]},{"id":"d42ee2fd.b8d3","type":"change","z":"85b5ea04.81b578","name":"temperature move message","rules":[{"t":"move","p":"payload","pt":"msg","to":"temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":620,"wires":[["89eed65f.af4198"]]},{"id":"89eed65f.af4198","type":"join","z":"85b5ea04.81b578","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":660,"wires":[["76abb9.71408448"]]},{"id":"9338e789.4102f8","type":"mysql","z":"85b5ea04.81b578","mydb":"46b3a359.c2fbcc","name":"","x":620,"y":740,"wires":[["b00f8b72.2d4cb8"]]},{"id":"b00f8b72.2d4cb8","type":"debug","z":"85b5ea04.81b578","name":"room1 sensor sql debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":740,"wires":[]},{"id":"db1e0191.99b75","type":"comment","z":"85b5ea04.81b578","name":"Save temperature and humidity in database","info":"## Query\nINSERT INTO temp_hum(temperature, humidity,time,place) \nvalues ({{temperature}}, \n{{humidity}},\"{{myymd}} {{mytimes}}\",\n\"room1\");\n\n## Database\nnode_red","x":680,"y":580,"wires":[]},{"id":"db965870.fcc458","type":"template","z":"85b5ea04.81b578","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"room1\",\"relay0 ,lamp: {{payload}}\");","output":"str","x":380,"y":400,"wires":[["b47d6591.3fc428"]]},{"id":"b47d6591.3fc428","type":"mysql","z":"85b5ea04.81b578","mydb":"46b3a359.c2fbcc","name":"","x":520,"y":360,"wires":[["279f1f41.ab7bd"]]},{"id":"279f1f41.ab7bd","type":"debug","z":"85b5ea04.81b578","name":"relay sql debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":360,"wires":[]},{"id":"2ecda3b3.69e5fc","type":"comment","z":"85b5ea04.81b578","name":"insert sql data into database","info":"## Query\nINSERT INTO RelayControl (place, relay_spec) \nvalues (\"room1\",\"relay0 ,lamp0: {{payload}}\");\n\n## Database\nnode_red","x":850,"y":300,"wires":[]},{"id":"d439b26.c28355","type":"ui_switch","z":"85b5ea04.81b578","name":"","label":"Room 1 lamp","tooltip":"","group":"b95de39.6590d2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":90,"y":520,"wires":[["c1d384f3.243fd8"]]},{"id":"9ed1dd76.361db","type":"debug","z":"85b5ea04.81b578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":540,"wires":[]},{"id":"c1d384f3.243fd8","type":"delay","z":"85b5ea04.81b578","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":460,"wires":[["db965870.fcc458","9ae33f74.27043","9ed1dd76.361db"]]},{"id":"ed64561f.c95518","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46b3a359.c2fbcc","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"node_red","tz":"","charset":"UTF8"},{"id":"b95de39.6590d2","type":"ui_group","z":"","name":"Room 1","tab":"75f7f422.7b769c","order":2,"disp":true,"width":"6","collapse":false},{"id":"75f7f422.7b769c","type":"ui_tab","z":"","name":"Smart Home","icon":"dashboard","disabled":false,"hidden":false}]